---
apiVersion: v1
kind: Service
metadata:
  name: webappport-service
  labels:
    app.kubernetes.io/managed-by: argocd
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: webappport
